<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<h:head>
		<f:facet name="first">
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
		</f:facet>
		
		<title>Bank Web</title>
		
		<h:outputStylesheet library="styles" name="custom.css" />
		<h:outputStylesheet library="styles" name="layout.css" />
		<h:outputStylesheet library="styles" name="components.css" />
		
		<h:outputScript target="body" library="jquery" name="jquery.js" />
		<h:outputScript target="body" library="javascripts" name="app.js" />
	</h:head>
	
	<h:body>
		<header class="aw-topbar">
			
			<a href="#" class="aw-toggle js-toggle"><i class="fa fa-bars"></i></a>
		</header>
		
		<aside class="aw-sidebar js-sidebar">
			<ui:include src="menu.xhtml" />
		</aside>
				
		<section class="aw-content js-content">
			<p:growl id="growl" showDetail="true" life="5000" autoUpdate="true"/>
			<ui:insert name="conteudo" />
		</section>
	</h:body>
	
</html>
