<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:f="http://xmlns.jcp.org/jsf/core" 
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h1 class="aw-page-title">Cadastro de Cédulas</h1>
			<h:form>
				<h:panelGrid columns="2">
						<h:outputText value="Valor da Cédula"/> <p:inputText value="#{estoqueBean.estoqueNota.valorNota}" />
						<h:outputText value="Quantidade"/> <p:inputText value="#{estoqueBean.estoqueNota.quantidade}" />
						
						<p:commandButton value="Salvar" action="#{estoqueBean.salvarNota}"/>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</html>