<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:f="http://xmlns.jcp.org/jsf/core" 
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h1 class="aw-page-title">Estoque de Cédulas</h1>
			<h:form>
				<p:dataTable value="#{estoqueBean.estoqueNotas}" var="nota">
					<p:column>
						<f:facet name="header">Valor</f:facet>
						<h:outputText value="R$ #{nota.valorNota}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">Quantidade</f:facet>
						<h:outputText value="#{nota.quantidade}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">Ações</f:facet>
						<h:commandLink action="#{estoqueBean.excluirEstoqueNota(nota)}">Excluir</h:commandLink>
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
	
</html>