<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h1 class="aw-page-title">Bank Web</h1>
			<h:form>
				<h:commandLink value="Logout" action="#{loginBean.logout}" />
			</h:form>
		</ui:define>
	</ui:composition>
</html>
