<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>Bank Web</title>
		</h:head>
		<h:body>
			<h1>Login</h1>
			<hr/>
	
			<h:form>
				<p:growl id="growl" showDetail="true" life="5000" autoUpdate="true"/>
				
				<p:panelGrid columns="2">
					<p:outputLabel value="Usuário:" for="usuario"/>
					<p:inputText id="usuario" value="#{loginBean.usuario.login}"/>
				
					<p:outputLabel value="Senha:" for="senha"/>
					<p:password id="senha" value="#{loginBean.usuario.senha}"/>
				</p:panelGrid>
				
				<p:panelGrid columns="2">
					<p:commandButton value="Logar" action="#{loginBean.efetuarLogin}"/> 
					<h:link outcome="cadastro.xhtml">Novo Usuário</h:link>
				</p:panelGrid>
				
			</h:form>
			
		</h:body> 
</html>