<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
	
	<h:form id="formMenu">
		<nav class="aw-menu">
			<ul>
				<li>
					<h:link outcome="index.xhtml">
						<i class="fa fa-fw fa-home"></i>Início
					</h:link>
				</li>

				<li>
					<h:link outcome="estoqueNotas.xhtml">
						<i class="fa fa-fw fa-money"></i>Estoque Cédulas
					</h:link>
				</li> 
						
				<li>
					<h:link outcome="cadastroNotas.xhtml">
						<i class="fa fa-fw fa-plus"></i>Manter Cédulas
					</h:link>
				</li>
				
				<li>
					<h:link outcome="saque.xhtml">
						<i class="fa fa-fw fa-bank"></i>Saque
					</h:link>
				</li> 		
			</ul>
		</nav>
	</h:form>
</ui:composition>