<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:f="http://xmlns.jcp.org/jsf/core" 
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<ui:composition template="_template.xhtml">
		<ui:define name="conteudo">
			<h1 class="aw-page-title">Saque</h1>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText value="Valor do Saque:  "/> 
					<p:inputText value="#{saqueBean.valorSaque}" />
				
					<h:outputText value="Selecione as notas que deseja: "/>
					
					<p:selectManyCheckbox id="chkNotas" value="#{saqueBean.notasSelecionadas}">
						<f:selectItem itemLabel="10" itemValue="10" />
						<f:selectItem itemLabel="20" itemValue="20" />
						<f:selectItem itemLabel="50" itemValue="50" />
						<f:selectItem itemLabel="100" itemValue="100" />
					</p:selectManyCheckbox>
					
					<p:commandButton value="Sacar" process="@form" update="@form" actionListener="#{saqueBean.sacar}"/>
				</h:panelGrid>
				
				
					<p:dataList id="resultadoSaque" value="#{saqueBean.combinacoes}" rendered="#{not empty saqueBean.combinacoes}"
					 	var="combinacao" type="ordered">
				        <f:facet name="header">
				            Resultado Saque
				        </f:facet>
	        			<h:outputText value="#{combinacao}" style="display:inline-block"/>
    				</p:dataList>
			</h:form>
		</ui:define>
	</ui:composition>
</html>